<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />

    <!--Meta description is a short paragraph of text in the HTML <head> section of a page. It is usually displayed in a SERP snippet after website's title and URL. In HTML it looks like this:-->
    <meta name="description" content="Senior Full Stack Developer" />
    <!--Open Graph (OG) tags are additional meta tags in HTML <head> section of a page that allow any webpage to become a rich object in social networks. It was first introduced by Facebook in 2010 and further recognized by other major social media platforms (LinkedIn, Google+, etc.)-->
    <meta
      name="og:title"
      property="og:title"
      content="Senior Full Stack Developer"
    />
    <meta property="og:site_name" content="Lucas Portela" />
    <meta
      property="og:description"
      content="A brazilian self-taught dev JavaScripting since the ages of the handy and elegant Notepad++ Code Editor."
    />
    <meta property="og:url" content="https://lucasportela.dev" />
    <meta
      property="og:image"
      content="https://lucasportela.dev/images/profile.jpg"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <!--A robots tag is an element in the HTML of a page that informs search engines which pages on your site should be indexed and which should not. Its functions are similar to robots.txt's. But it is generally used to prevent search engines from indexing individual pages, while robots.txt prevents them from indexing a whole site or any its part.-->
    <meta name="robots" content="index, follow, noarchive" />

    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <link rel="icon" type="image/png" href="images/logo.png" />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="skrollr-body">
      <div id="q-app"></div>
    </div>
  </body>
</html>
